---
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="contenido">
    <Menu></Menu>
    <h3>¿Que se entiende por aviación?</h3>
    <div>
        <p>
            Se entiende por aviación al diseño, desarrollo, fabricación,
            producción, operación y utilización para fines privados o
            comerciales de aeronaves, especialmente las más pesadas que el aire.
            El vuelo en sí es la parte de la operación que incluye el
            desplazamiento controlado, a través del aire, de aparatos que usan
            para desarrollar su vuelo la fuerza sustentadora de superficies
            fijas o móviles, impulsados por sus propios motores, como aviones y
            helicópteros, o sin motor, como los planeadores
        </p>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./hermanos wright.webp" class="card-img-top" alt="" />
        <div class="card-body">
            <h5 class="card-title">HERMANOS WRIGHT</h5>
            <p class="card-text">
                Los hermanos Wright, Wilbur (Millville, Indiana, 16 de abril de
                1867-Dayton, Ohio, 30 de mayo de 1912) y Orville (Dayton, Ohio,
                19 de agosto de 1871-30 de enero de 1948)
            </p>
            <a href="/aviationtebi/hermanoswright" class="btn btn-primary">HISTORIA</a>
        </div>
    </div>
</Layout>
