---
import Circulo from "../components/Circulo.astro";
---

<Circulo> MI PRYECTO </Circulo>

<ul role="list" class="list-card-grid">
    <li>
        <a href="Esteban" class="btn" role="button" data-bs-toogle="button">
            ESTEBAN
        </a>
    </li>
</ul>
