---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contenido">
    <body>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="esteban" class="btn btn-outline-primary" type="button">esteban</a>
    </div>  
    </body>
</Layout>
