---
import Layout from "../layouts/Layout.astro";
---

<Layout title="esteban">
    <div>
        <button type="button" class="btn"> PROYECTO ESTEBAN GOMEZ</button>

        <h3 class="text text-success">AVIACION</h3>

        <h4><p class="fw-lighter">
            <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">El contendio de ese sitio tiene que ver con temas relacionados con
                la aviacion que es en el area el cual trabajo y en el cual desempeno
                una labor muy importante como lo es el mantenimiento de aviones.
            </div>
            
        </p> 
    </h4>

        <a href="contenido" class="btn btn-outline-secondary"> CONTENIDO</a>
        <a href="proyecto" class="btn btn-outline-secondary"> PROYECTO </a>
        <a href="nosotros" class="btn btn-outline-secondary"> NOSOTROS</a>
    </div>
</Layout>
