---
import Layout from "../layouts/Layout.astro";
---

<Layout title="esteban">
    <div>
        <a href="/proyecto" type="button" class="btn btn-secondary"
            >PROYECTO ESTEBAN GOMEZ</a
        >
        <b></b>
    </div>

    <h1><b>AVIACION</b></h1>

    <h3>
        El contendio de ese sitio tiene que ver con temas relacionados con la
        aviacion que es en el area el cual trabajo y en el cual desempeno una
        labor muy importante como lo es el mantenimiento de aviones.
    </h3>
    <ul>
        <li>
            <a
                href="contenido"
                class="btn"
                role="button"
                data-bs-toogle="button"
            >
                contenido</a
            >
        </li>
    </ul>
</Layout>
