---
import Layout from "../layouts/Layout.astro";
---

<Layout title="esteban ">
    <div>
        <a type="button" class="btn btn-secondary"> PROYECTO ESTEBAN GOMEZ </a>

        <h1><b>AVIACION</b></h1>

        <body>
            <h4>
                El contendio de ese sitio tiene que ver con temas relacionados
                con la aviacion que es en el area el cual trabajo y en el cual
                desempeno una labor muy importante como lo es el mantenimiento
                de aviones.
            </h4>

            <a
                href="contenido"
                class="btn btn-outline-warning"
                data-bs-toogle="button"
            >
                CONTENIDO</a
            >

            <a
                href="proyecto"
                class="btn btn-outline-primary"
                data-bs-toogle="button"
            >
                PROYECTO</a
            >
        </body>
    </div>
</Layout>
