---
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="hermanos wright">
    <Menu></Menu>

    
    <img src="s/330GATEADO.jpg" class="img-fluid" alt="AVION HNOS WRIGHT" />
    <h1>HERMANOS WRIGHT</h1>
    <div>
        <p>
            Wilbur Wright (Indiana, 1867) y Orville Wright (Indiana, 1871)
            nacieron en una época en la que los sueños de volar eran solo eso:
            sueños. Pero eso no les impidió perseguir su pasión y dedicar sus
            vidas a lograr lo que parecía imposible. Criados en una familia
            donde la creatividad, la curiosidad por la ciencia y el pensamiento
            libre eran fomentados, los Hermanos Wright desarrollaron desde
            temprana edad una fascinación por las máquinas voladoras y la
            aviación. En 1878, Milton Wright regaló a sus hijos un pequeño
            helicóptero de juguete basado en un diseño del inventor francés
            Alphonse Pénaud. Este juguete, llamado Pénaud Helicopter o Baton
            Aerial Screw, era una estructura de papel, corcho y bambú impulsada
            por una banda de goma retorcida. El helicóptero de juguete volaba al
            desenrollarse la banda de goma, y fue el detonante de la curiosidad
            de Wilbur y Orville.
        </p>
    </div>
    <div>
        <p>
            Antes de dedicarse por completo a la aviación, los Hermanos Wright
            abrieron una tienda de bicicletas en Dayton, Ohio. Allí, no solo
            reparaban y vendían bicicletas, sino que también construían sus
            propios modelos. Este negocio les permitió en parte financiar sus
            investigaciones en el campo de la aviación, y también les ayudó a
            comprender cómo funcionaba el equilibrio y el control en un vehículo
            en movimiento. Pero lo que realmente fue decisivo para su éxito fue
            la implicación de su hermana Katharine Wright, que se encargó de la
            gestión del a empresa, de la financiación y hasta de la construcción
            física del Flyer I.
        </p>
    </div>
</Layout>
