---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
<<<<<<< HEAD
---

<Layout title="esteban ">
	<div>
		<body>
			<h1>BIENVENIDOS A MI PROYECTO DE AVIACION</h1>	

			<a href="esteban" class="btn" data-bs-toogle="button"> </a>
		</body>
	</div>
=======
import Circulo from "../components/Circulo.astro";
---

<Layout title="Welcome to my project.">
	<main>
		<h1>Welcome to <span class="text-gradient">project aviation </span></h1>

		<ul role="list" class="list-card-grid">
			<Circulo> MI PROYECTO </Circulo>
		</ul>
	</main>

	<ul>
		<li>
			<a href="Esteban" class="btn" data-bs-toogle="button"> esteban</a>
		</li>
	</ul>
>>>>>>> 59ea80112f9e0b108f42cc2291af0b79079b134e
</Layout>
