---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Circulo from "../components/Circulo.astro";
---

<Layout title="Welcome to my project.">
	<main>
		<h1>Welcome to <span class="text-gradient">project aviation </span></h1>

		<ul role="list" class="list-card-grid">
			<Circulo> circulo</Circulo>
		</ul>
	</main>
</Layout>
