---
import Layout from "../layouts/Layout.astro";

---

<Layout title="MI PROYECTO.">
	<div style="text-align: center;">
		<body>

			<div class="fondo">
				<div class="texto">
	
					<h1>BIENVENIDOS A MI PROYECTO DE AVIACION</h1>
					<a
						href="/aviationtebi/esteban"
						class="btn btn-outline-secondary btn-lg"
					>
						ESTEBAN
					</a>
				</div>
			</div>
		</body>
	</div>
</Layout>
<style>
	.fondo {
		border: 2px solid blue;
		width: 100%;
		height: 100vh;
		background-image: url(public/334qt.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	h1 {
		text-align-last: center;
		background-color: rgba(128, 128, 128, 0.582);
		border-radius: 10px;
		padding: 20px;
	}

	.texto {
		padding: 40px;
		width: 700px;
		margin: auto;
	}
	.body {
		width: 100%;
		position: relative;
	}
</style>
