---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="MI PROYECTO.">
	<div>
		<body>
			<h1>BIENVENIDOS A MI PROYECTO DE AVIACION</h1>

	<ul>
		<li>
			<a href="Esteban" class="btn" data-bs-toogle="button"> esteban</a>
		</li>
	</ul>
</Layout>
<style>
	h1 {
		margin-top: 20px;
		border-radius: 1%;
		background-color: gray;
		text-align: justify;
		text-decoration: lawngreen;
	}

	a {
		padding: 10px;
	}
</style>
