---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="MI PROYECTO.">
	<div style="text-align: center;">
		<body>
			<h1>BIENVENIDOS A MI PROYECTO DE AVIACION</h1>

			<a
				href="esteban"
				class="btn btn-outline-secondary"
				data-bs-toogle="button">
				ESTEBAN</a>
				

				

		</body>
		
	</div>
	</Layout
>
<style>

body {

	background-image: url("public/334QT.jpg");
	
}

h1{
	text-align-last: center;
}

a{

}

</style>
	
