---
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="nosotros">
    <Menu></Menu>

    <div class="card-group">
        <div class="card">
            <img
                src="VIDEO1.mp4"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">INTRODUCCION</h5>
                <p class="card-text">
                    El mantenimiento de aviones es una parte integral de la
                    industria aeroespacial que garantiza la seguridad y la
                    fiabilidad de las aeronaves. Con millones de personas
                    confiando en el transporte aéreo cada día, la importancia de
                    mantener los aviones en condiciones óptimas no puede ser
                    subestimada. Este ensayo explora la importancia del
                    mantenimiento de aviones, sus diferentes tipos y las
                    tecnologías emergentes que están transformando este campo
                    crucial.
                </p>
            </div>
        </div>
        <div class="card">
            <img
                style="width:450px"
                src="MOTOR330.jpg"
                class="card-img-top"
                alt=""
            />
            <div class="card-body">
                <h5 class="card-title">TIPOS DE MANTENIMIENTO</h5>
                <p class="card-text">
                    Existen varios tipos de mantenimiento de aviones, cada uno
                    con su propósito específico. El mantenimiento preventivo se
                    realiza de manera programada para prevenir problemas antes
                    de que ocurran, mientras que el mantenimiento correctivo se
                    lleva a cabo para reparar problemas identificados durante la
                    operación. El mantenimiento predictivo utiliza datos y
                    análisis para predecir fallas futuras y tomar medidas
                    preventivas. Además, el mantenimiento periódico incluye
                    inspecciones regulares y el reemplazo de componentes según
                    el cronograma recomendado por el fabricante.
                </p>
            </div>
        </div>
        <div class="card">
            <img
                src="MOTOR787.jpg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">
                    IMPORTANCIA DEL MANTENIMIENTO DE AVIONES
                </h5>
                <p class="card-text">
                    La seguridad es la máxima prioridad en la aviación. El
                    mantenimiento regular de las aeronaves es esencial para
                    identificar y corregir cualquier problema mecánico,
                    eléctrico o estructural que pueda afectar su rendimiento.
                    Los aviones están sujetos a condiciones extremas durante el
                    vuelo, lo que puede causar desgaste y fatiga en los
                    componentes. Sin un mantenimiento adecuado, estos problemas
                    pueden convertirse en peligros potenciales.
                </p>
            </div>
        </div>

        <div class="card">
            <img
                src="330GATEADO.jpg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">
                    IMPORTANCIA DE SER TECNICO EN MANTENIMIENTO DE AVIONES
                </h5>
                <p class="card-text">
                    La principal razon es mantener la aeronavegabilidad de la
                    aeronave para seguridad y buen servicio de las miles de
                    personas que lo utilizan para sea cual sea su proposito, en
                    nosotros esta el juego de miles de vidas por eso tenemos que
                    tener consiencia de lo que estamos realizando para no
                    afectar asi la seguridad de estas maquinas.
                </p>
            </div>
        </div>

        <div class="card">
            <img
                src="MOTOR787BONITA.jpg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">
                    INFLUENCIAS DE LA TECNOLOGIA EN LOS AVIONES
                </h5>
                <p class="card-text">
                    La tecnología está transformando el campo del mantenimiento
                    de aviones. El uso de sensores y dispositivos IoT (Internet
                    de las cosas) permite monitorear en tiempo real el estado de
                    los componentes y sistemas de la aeronave. Esto permite una
                    detección temprana de problemas y una planificación más
                    eficiente del mantenimiento. La inteligencia artificial y el
                    aprendizaje automático se utilizan para analizar grandes
                    cantidades de datos y predecir el rendimiento futuro de los
                    aviones. Además, la realidad aumentada y la realidad virtual
                    se están utilizando para entrenar a los técnicos de
                    mantenimiento y facilitar la realización de tareas
                    complejas.
                </p>
            </div>
        </div>
    </div>
</Layout>
