---
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="proyecto">
  <Menu></Menu>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <b> <h3>¿Que son los servicios de mantenimiento aeronauticos?</b>
         </h3>   </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> son servicios previamente programados donde se traza como objetivo mantener la seguridad y la aeronavegabilidad del avion </div>
          </div>
        </div>

        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <b><h3>¿Cuál es la importancia del mantenimiento preventivo en la industria aeroespacial?</b>
             </h3> </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                El mantenimiento preventivo es crucial en la industria aeroespacial porque ayuda a prevenir fallas inesperadas y garantiza la seguridad y la fiabilidad de las aeronaves. Al realizar inspecciones regulares y mantener los aviones según las recomendaciones del fabricante, se pueden identificar y corregir problemas potenciales antes de que se conviertan en peligros.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <b> <h3>¿Qué papel juegan los técnicos de mantenimiento de aviones en la seguridad de las operaciones aéreas?</b>
              </h3></button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                Los técnicos de mantenimiento de aviones desempeñan un papel fundamental en la seguridad de las operaciones aéreas. Son responsables de realizar inspecciones, diagnósticos y reparaciones en las aeronaves para garantizar que estén en condiciones óptimas de vuelo. Su experiencia y atención al detalle son cruciales para identificar y resolver problemas antes de que puedan afectar la seguridad del vuelo.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <b><h3>¿Qué desafíos enfrenta el mantenimiento de aviones en la actualidad?</b>
             </h3> </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                Uno de los principales desafíos que enfrenta el mantenimiento de aviones en la actualidad es la creciente complejidad de las aeronaves modernas. Con aviones cada vez más avanzados tecnológicamente, los técnicos de mantenimiento deben estar capacitados para trabajar con sistemas altamente sofisticados y comprender las últimas tecnologías. Además, la gestión eficiente de grandes volúmenes de datos generados por los sistemas de monitoreo en tiempo real es otro desafío importante.
              </div>
            </div>
          </div>
        </div>

        <div class="ratio ratio-21x9">
          <iframe src="/https://www.youtube.com/watch?v=n_E-vuI9qAk" title="videop youtube" allowfullscreen></iframe>
        </div>
        
</Layout>
