---

---

<div class="menu">
    <a href="/aviationtebi/contenido" class="btn btn-outline-danger"> CONTENIDO </a>
    <a href="/aviationtebi/proyecto" class="btn btn-outline-warning"> PROYECTO </a>
    <a href="/aviationtebi/nosotros" class="btn btn-outline-success"> NOSOTROS </a>
    <a href="/aviationtebi/esteban" class="btn btn-outline-secondary"> ESTEBAN </a>
</div>
<style>
    .menu {
        background-color: hsl(177, 94%, 46%);
        padding:20px;
        border-radius: 20px;
        padding: 20px;
        width: 50%;
        margin: auto;
        text-align: center;
    }
</style>